/*********
* GLOBAL *
*********/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

a {
    color: rgb(12, 156, 247);
}

a:hover {
    color: rgb(0, 127, 208);
}

a:active {
    color: rgb(0, 50, 100);
}

a.no-style {
    color: inherit;
}

pre > code {
    display: block;
    border-radius: 3px;
    padding: 10px 12px;
    margin-bottom: 14px;

    background-color: #f8f8f8;
    border: 1px solid #ddd;

    font-family: Monaco, Consolas, Liberation Mono, Courier, monospace;
    font-size: 12px;
    color: inherit;
    font-weight: inherit;
    -webkit-font-smoothing: auto;
}

/*********
* COMMON *
*********/

.margins {
    max-width: 1200px;
    padding: 0 20px;
    padding: 0 3vw;
    margin: 0 auto;
}

.header {
    height: 128px;
    background-color: #f8f8f8;
    padding: 0 30px;
    font-size: 20px;
    margin-bottom: 44px;
}

.header-items {
    text-align: right;
}

.header-item {
    display: inline-block;
    font-weight: 700;
    color: #333;
    line-height: 34px;
    margin: 46px 20px;
}

.header-item:hover {
    color: rgb(12, 156, 247)
}

.header-item:active {
    color: rgb(0, 127, 208);
}

.header-item.active {
    border-bottom: 3px solid currentColor;
}

.footer {
    height: 100px;
    background-color: #f8f8f8;
    margin-top: 80px;
}

/*******
* WORK *
*******/

.work-title {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.work-sidebar {
    margin-bottom: 20px;
    font-size: 16px;
}

.work-description {
    margin-bottom: 15px;
}

.work-links {
    margin-top: 15px;
}

.work-content img {
    margin-bottom: 6px;
}

.work-content video.gfy-video {
    margin-bottom: 12px;
}

/***************
* FONT AWESOME *
***************/

/* Keep the async icon loads from interfering with the page layout */

.fa-fw {
  display: inline-block;
  width: 1.28571429em;
}

.fa-fw::before {
  content: "\00a0";
}
