<div class="header">
    <div class="expanded row">
        <div class="small-4 columns">
            {% if page.section != 'home' %}
                <a href="/" class="header-item">
                    &lt; Joe Rickerby 
                </a>
            {% endif %}
        </div>
        <div class="small-8 columns">
            <div class="header-items">
                <a href="/" class="header-item {% if page.section=='work' or page.section=='home' %}active{% endif %}">
                    Work
                </a>
                <a href="/play" class="header-item {% if page.section=='play' %}active{% endif %}">
                    Play
                </a>
                <a href="/about" class="header-item {% if page.section=='about' %}active{% endif %}">
                    About
                </a>
            </div>
        </div>
    </div>
</div>