---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body>
      <div class="theme-container">
        <div class="bg"></div>
        <div class="theme-content">
          <slot />
        </div>
      </div>
	</body>
</html>

<style is:global>
@import '../assets/chicago-webfont/stylesheet.css';

* {
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0.5em 0;
    padding-left: 1em;
}

li {
    margin: 0.5em 0;
}

p {
    margin: 0.5em 0;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: underline;
}
</style>

<style>
.theme-content {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.038em;
  color: black;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(../assets/bg-tile.png);
  background-size: 2px 2px;
  background-repeat: repeat;
  background-position: top left;
}
.theme-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
</style>
